<div [hidden]="enviar" >
    <h2>Ingresar:</h2>
    <form #clienteform="ngForm">
    <form>
    <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" required [(ngModel)]="cliente.nombre" name="nombre" #name="ngModel">
    <div [hidden]="name.valid || name.pristine">
        Nombre es requerido
    </div>
    </div>
    <div class="form-group">
    <label for="dui">Dui:</label>
    <input type="number" class="form-control" id="dui" required [(ngModel)]="cliente.dui" name="dui" #dui1="ngModel">
    <div [hidden]="dui1.valid || dui1.pristine">
        DUI es requerido
    </div>
    </div>
    <div class="form-group">
    <label for="vehiculo">Vehículo:</label>
    <input type="text" class="form-control" id="vehiculo" required [(ngModel)]="cliente.vehiculo" name="vehiculo" #car="ngModel">
    <div [hidden]="car.valid || car.pristine">
        Vehículo es requerido
    </div>    
    </div>
    <div class="form-group">
        <label for="costo">Costo reparación:</label>
        <input type="number" class="form-control" id="costo" required [(ngModel)]="cliente.costo" name="costo" #price="ngModel">
    
    <div [hidden]="price.valid || price.pristine">
        Vehículo es requerido
    </div>
  </div>
  <button type="submit" class="btn btn-success"
  [disabled]="!clienteform.form.valid">Submit</button>
   </form>
  </div>
  
  
  
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->