<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Taller UDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active px-3">
        <a class="nav-link" href="./">Inicio</a>
      </li>
      <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" id="clienteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appCliente">Nuevo Cliente</button>
          <a class="dropdown-item" href="#">Ver Clientes</a>
        </div>
      </li>
      <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" id="vehiculoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vehiculos</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appCarro">Nuevo Vehiculo</button>
          <a class="dropdown-item" href="#">Ver Vehiculos</a>
        </div>
      </li>
      <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" id="visitasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visitas</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appCarro">Nuevo Visita</button>
          <a class="dropdown-item" href="#">Histiorial Visitas</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/banner1.jpg" class="d-block w-100" alt="banner1">
          <div class="carousel-caption d-none d-md-block" style="background-color:rgba(0,0,0,0.4)">
            <h2>Cambio de Aceite</h2>
            <p>Costo de Servicio USD$ 35.72</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/banner2.jpg" class="d-block w-100" alt="banner2">
          <div class="carousel-caption d-none d-md-block" style="background-color:rgba(0,0,0,0.4)">
            <h2>Limpieza de Motor</h2>
            <p>Costo de Servicio USD$ 28.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal para ingreso de cliente -->
<div class="modal fade" id="appCliente" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-cliente></app-cliente>
      </div>
    </div>
  </div>
</div>

<!-- modal para ingreso de vehiculo -->
<div class="modal fade" id="appCarro" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-carro [dataCarro]='message' (newData)='write($event)'></app-carro>
      </div>
    </div>
  </div>
</div>
