<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Taller UDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">

      <li class="nav-item active px-3">
        <a class="nav-link" href="./">Inicio</a>
      </li>
      
      <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" id="clienteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clientes</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appCliente">Nuevo Cliente</button>
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appListaCli" (click)='viewClient()'>Ver Clientes</button>
        </div>
      </li>
      
      <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" id="vehiculoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vehiculos</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appCarro">Nuevo Vehiculo</button>
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appListaVehi" (click)='viewVehiculos()'>Ver Vehiculos</button>
        </div>
      </li>
      
      <li class="nav-item dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" id="visitasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visitas</a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appVisitas">Nuevo Visita</button>
          <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#appListaVis" (click)='viewVisitas()'>Historial Visitas</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/banner1.jpg" class="d-block w-100" alt="banner1">
          <div class="carousel-caption d-none d-md-block" style="background-color:rgba(0,0,0,0.4)">
            <h2>Cambio de Aceite</h2>
            <p>Costo de Servicio USD$ 35.75</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/banner2.jpg" class="d-block w-100" alt="banner2">
          <div class="carousel-caption d-none d-md-block" style="background-color:rgba(0,0,0,0.4)">
            <h2>Limpieza de Motor</h2>
            <p>Costo de Servicio USD$ 28.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal para ingreso de cliente -->
<div class="modal fade" id="appCliente" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-cliente [inStateCli]='stateData' (outStateCli)='updateState($event)'></app-cliente>
      </div>
    </div>
  </div>
</div>

<!-- modal para ingreso de vehiculo -->
<div class="modal fade" id="appCarro" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-carro [inStateCar]='stateData' (outStateCar)='updateState($event)'></app-carro>
      </div>
    </div>
  </div>
</div>

<!-- modal para ingreso de visitas -->
<div class="modal fade" id="appVisitas" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-visitas  [inStateVis]='stateData' (outStateVis)='updateState($event)'></app-visitas>
      </div>
    </div>
  </div>
</div>

<!-- modal de exito-->
<div class="modal fade" id="exito" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Ingresado con Exito!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal vista cliente-->
<div class="modal fade" id="appListaCli" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-lista  [ClienteLista]='tableData.clientes'></app-lista>
      </div>
    </div>
  </div>
</div>

<!-- modal vista vehiculos-->
<div class="modal fade" id="appListaVehi" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-carros  [carroLista]='tableData.vehiculo'></app-carros>
      </div>
    </div>
  </div>
</div>

<!-- modal vista visitas-->
<div class="modal fade" id="appListaVis" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-meets  [visitaLista]='tableData.visitas'></app-meets>
      </div>
    </div>
  </div>
</div>
